@font-face {
  font-family: 'rsplus';
  src:  url('fonts/rsplus.eot?69nlo1');
  src:  url('fonts/rsplus.eot?69nlo1#iefix') format('embedded-opentype'),
    url('fonts/rsplus.ttf?69nlo1') format('truetype'),
    url('fonts/rsplus.woff?69nlo1') format('woff'),
    url('fonts/rsplus.svg?69nlo1#rsplus') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rsplus' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-field-service:before {
  content: "\e90d";
}
.icon-gody-nastrojki:before {
  content: "\e916";
}
.icon-navyki:before {
  content: "\e917";
}
.icon-obrazovanie:before {
  content: "\e918";
}
.icon-specialist-automaitor:before {
  content: "\e913";
}
.icon-specialist-mecano:before {
  content: "\e914";
}
.icon-specialist-mechanic:before {
  content: "\e915";
}
.icon-completed:before {
  content: "\e90f";
}
.icon-monitoring:before {
  content: "\e910";
}
.icon-operator:before {
  content: "\e911";
}
.icon-tehnick:before {
  content: "\e912";
}
.icon-target:before {
  content: "\e90e";
}
.icon-deadlines:before {
  content: "\e908";
}
.icon-progress:before {
  content: "\e909";
}
.icon-rukovodstvo:before {
  content: "\e90a";
}
.icon-tsennost:before {
  content: "\e90b";
}
.icon-telegram1:before {
  content: "\e907";
}
.icon-instrumenty:before {
  content: "\e902";
}
.icon-modernization:before {
  content: "\e903";
}
.icon-lines:before {
  content: "\e904";
}
.icon-parts:before {
  content: "\e905";
}
.icon-training:before {
  content: "\e906";
}
.icon-mnotv:before {
  content: "\e901";
}
.icon-keyboard_arrow_left:before {
  content: "\e90c";
}
.icon-telegram:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e942";
}
.icon-undo2:before {
  content: "\e967";
}
.icon-bubble2:before {
  content: "\e96e";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-arrow-up:before {
  content: "\ea32";
}
.icon-arrow-right:before {
  content: "\ea34";
}
.icon-arrow-down:before {
  content: "\ea36";
}
.icon-arrow-left:before {
  content: "\ea38";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-mail2:before {
  content: "\ea84";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-rss2:before {
  content: "\ea9c";
}
