.content-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  gap: 7px;
}


.content-cards--benefits,
.content-cards--arrows {
    grid-template-columns: repeat(3, 1fr);
}

.content-cards--two-columns {
  grid-template-columns: repeat(2, 1fr);
}

.content-cards--details {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 7px;
  justify-content: center;
  position: relative;
}


/* Базовый стиль карточки */
.content-card {
  position: relative;
  padding: 24px;
  border-bottom: 6px solid var(--color-dark);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.content-card[class*="--accent-"] {
  border-color: var(--card-color);
}

.content-card--details {
  flex: 1 1 260px;
  max-width: 360px;
  padding-top: 150px;
  overflow: visible;
}

.content-card--benefit {
  --card-color: var(--color-competence);
  flex-direction: row;
  gap: 20px;
  border-bottom-color: var(--color-competence);
  align-items: center;
  overflow: hidden;
}


/* Контраст с цветом секции секции */
.section:nth-of-type(odd)  .content-card {
    background-color: var(--color-bg);
}

.section:nth-of-type(even) .content-card {
    background-color: var(--color-bg-alt);
}

/* Цветовые модификаторы */
.content-card--accent-alt1 { --card-color: var(--color-accent-alt1); }
.content-card--accent-alt2 { --card-color: var(--color-accent-alt2); }
.content-card--accent-alt3 { --card-color: var(--color-accent-alt3); }
.content-card--accent-alt4 { --card-color: var(--color-accent-alt4); }
.content-card--accent-alt5 { --card-color: var(--color-accent-alt5); }
.content-card--accent-alt6 { --card-color: var(--color-accent-alt6); }
.content-card--accent-alt7 { --card-color: var(--color-accent-alt7); }


.content-card__subtitle {
  font-size: var(--font-size-lg);
  font-weight: 600;
  margin-bottom: 12px;
}

.content-card__title {
  font-weight: 550;
  margin-bottom: 8px;
  text-transform: uppercase;
  color: var(--color-dark);
}

.content-card[class*="--accent-"]
.content-card__title {
  font-size: var(--font-size-sm);
  filter: brightness(.6);
  font-weight: 550;
  color: var(--card-color);
}

.content-card--details
.content-card__title {
  font-size: var(--font-size-base);
  font-weight: 600;
  color: var(--color-dark);
}

.content-card__text {
  line-height: var(--line-size-base);
  font-size: var(--font-size-base);
}

.content-card--benefit
.content-card__text {
  line-height: var(--line-size-sm);
  font-size: var(--font-size-sm);
  text-transform: uppercase;
  font-weight: 500;
}

.conteny-card__title-container > * {
  margin: 0;
}

.content-card__progresser {
  --progreser-color: color-mix( in oklab, var(--card-color), #e4e3e7 80% );
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  gap: 12px;
  align-content: center;
  align-items: center;
  margin-right: 20px;
  margin-left: -24px;
  background-color: var(--progreser-color);
  padding: 6px;
  padding-right: 0;

}

.content-card__progresser .content-card__icon-container {
  align-items: center;
  max-height: 65px;
  max-width: 75px;
  justify-content: flex-end;
  margin: 0;
}

.content-card__progresser::after {
  content: "";
  box-sizing: content-box;
  position: relative;
  margin: -10px -59px -10px 0;
  border-top: 39px solid transparent;
  border-bottom: 39px solid transparent;
  border-left: 44px solid var(--progreser-color);
  z-index: 2;
}

.content-card__progresser .content-card__circle {
  --circle-radius: 100px;
  --circle--shift-down: 0;
  --circle--shift-right: 15px;
  font-size: 3em;
}

.content-card--process__number {
  text-align: center;
  font-weight: 900;
  font-size: 15rem;
  margin: -6rem -24px -24px;
  overflow: hidden;
  height: 10rem;
  color: color-mix( in oklab, var(--card-color), #9e98a311 90% );
  pointer-events: none;
}



.content-card__project-desc {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-base);
}

.content-card__list {
  padding-left: 18px;
}

.content-card--benefit .content-card__list {
  color: var(--color-competence);
  filter: brightness(.4);
}

.content-card--benefit .content-card__list li {
  padding-left: 12px;
}

.content-card--benefit .content-card__list li::marker {
  content: "✔";
  color: var(--color-accent-alt4)
}

.content-card__meta {
  margin-top: 1em;
  color: var(--card-color);
  font-weight: 550;
  text-transform: uppercase;
  font-size: var(--font-size-sm);
  filter: brightness(.6);
  font-style: italic;
}

.content-card--details__image {
  position: absolute;
  top: -42px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 200px;
  z-index: 2;
}

.content-card--details__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content-card__image {
  width: calc(100% + 48px);
  margin: -24px -24px 0;
}


.content-card__image--detail {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-card__image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  filter: blur(.5px);
}

.content-card--picture .content-card__image img {
  position: absolute;
  height: 100%;
  top: 0;
}

.content-card__image--detail img {
  max-width: 250px;
  object-fit: contain;
  filter: blur(.5px);
}

.content-card__footer,
.content-card__body {
  position: relative;
}

.content-card__footer {
  margin-top: 16px;
  display: flex;
  justify-content: flex-start;
}

.content-card__icon-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 80px;
  margin-bottom: 20px;
}

.content-cards--benefits
.content-card__icon-container {
  height: fit-content;
  min-width: fit-content;
  padding: 0;
  margin: -80px 0;
  margin-left: -50px;
}

.content-card__arrow {
  font-size: 5rem;
  color: var(--color-accent);
  position: absolute;
  height: 100%;
  top: 0;
  right: -40px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-card__arrow::after {
  font-family: 'rsplus' !important;
  content: "\ea34";
  margin-top: -20px;
}

@media (max-width: 900px) {
  .content-card__arrow {
    height: min-content;
    right: 12px;
    top: auto;
    bottom: -61px;
  }
  .content-card__arrow::after {
    content: "\ea36";
  }
}


.content-card__circle {
  --circle-color: var(--card-color) !important;
  --circle-radius: 130px;
}

.content-card--competencies
.content-card__circle {
  --circle--shift-down: 30px;
}
.content-card--benefit
.content-card__circle {
  --circle-radius: 100px;
  --circle--shift-right: 8px;
  --circle--shift-down: 0;
  font-size: 3em;
}

.content-card__bg {
    background-color: var(--card-color);
}

.content-card--benefit
.content-card__bg {
    background-color: var(--color-competence);
}

.content-card[class*="--accent-"]
.content-card__list {
  color: var(--card-color);
  filter: brightness(.6);
}

.content-card--details
.content-card__list {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-base);
  list-style: none;
  padding: 0;
  margin: 0;
}

.content-card--details
.content-card__list-item {
  position: relative;
  padding-left: 15px;
  margin-bottom: 6px;
  line-height: var(--line-height-base);;
}

.content-card--details
.content-card__list-item::before {
  content: "-";
  position: absolute;
  left: 0;
  color: var(--color-accent-alt4);
}

.content-card[class*="--accent-"]
.content-card__btn {
  background-color: var(--card-color) !important;
  filter: none;
}

.content-card[class*="--accent-"]
.content-card__btn:hover {
  background-color: var(--card-color);
  filter: brightness(1.2) blur(.5px) grayscale(.5);
}

@media (max-width: 768px) {
  .content-cards {
    grid-template-columns: 1fr;
  }

  .content-cards--details {
    gap: 25px;
  }

  .content-card--details {
    padding-top: 150px;
  }

  .content-card--details__image {
    width: 190px;
    height: 170px;
    top: -30px;
  }
}


