.content-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 7px;
}

.content-cards--competencies {
    grid-auto-rows: 1fr;
}

.content-cards--details {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 7px;
  justify-content: center;
  position: relative;
}

/* Базовый стиль карточки */
.content-card {
  position: relative;
  padding: 24px;
  border-bottom: 6px solid var(--color-accent);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.content-card--competencies {
  border-color: var(--card-color);
}

.content-card--details {
  flex: 1 1 260px;
  max-width: 360px;
  padding-top: 150px;
  overflow: visible;
  border-bottom-color: var(--color-muted-light);
}


/* Контраст с цветом секции секции */
.section:nth-of-type(odd)  .content-card {
    background-color: var(--color-bg);
}

.section:nth-of-type(even) .content-card {
    background-color: var(--color-bg-alt);
}

/* Цветовые модификаторы */
.content-card--accent-alt1 { --card-color: var(--color-accent-alt1); }
.content-card--accent-alt2 { --card-color: var(--color-accent-alt2); }
.content-card--accent-alt3 { --card-color: var(--color-accent-alt3); }
.content-card--accent-alt4 { --card-color: var(--color-accent-alt4); }
.content-card--accent-alt5 { --card-color: var(--color-accent-alt5); }
.content-card--accent-alt6 { --card-color: var(--color-accent-alt6); }
.content-card--accent-alt7 { --card-color: var(--color-accent-alt7); }


.content-card--details__image {
  position: absolute;
  top: -42px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 200px;
  z-index: 2;
}

.content-card--details__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content-card__subtitle {
  font-size: var(--font-size-lg);
  font-weight: 600;
  margin-bottom: 12px;
}

.content-card__title {
  font-weight: 550;
  margin-bottom: 8px;
  text-transform: uppercase;
  color: var(--color-accent);
}

.content-cards--competencies
.content-card__title {
  font-size: var(--font-size-sm);
  filter: brightness(.6);
  font-weight: 550;
  color: var(--card-color);
}

.content-card--details
.content-card__title {
  font-size: var(--font-size-base);
  font-weight: 600;
  color: var(--color-dark);
}

.content-card__text {
  line-height: var(--line-size-base);
  font-size: var(--font-size-base);
}

.content-card__project-desc {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-base);
}

.content-card__list {
  padding-left: 18px;
}

.content-cards--competencies
.content-card__list {
  color: var(--card-color);
  filter: brightness(.6);
}

.content-card--details
.content-card__list {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-base);
  list-style: none;
  padding: 0;
  margin: 0;
}

.content-card--details
.content-card__list-item {
  position: relative;
  padding-left: 15px;
  margin-bottom: 6px;
  line-height: var(--line-height-base);;
}

.content-card--details
.content-card__list-item::before {
  content: "-";
  position: absolute;
  left: 0;
  color: var(--color-accent-alt4);
}

.content-card__footer,
.content-card__body {
  position: relative;
}

.content-card__footer {
  margin-top: 16px;
  display: flex;
  justify-content: flex-start;
}

.content-card__icon-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 80px;
  margin-bottom: 20px;
}

.content-card__icon {
  font-size: 3.5em;
  margin-top: -30px;
  color: var(--card-color, --color-accent);
  font-weight: 550;
  transition: all .5s ease;
}

.is-not-scrolled .content-card__icon {
  font-size: 2em;
  margin-top: 0;
  font-weight: 1000;
}

.content-card__radius {
  border-color: var(--card-color) !important;
  --radius: 130px;
  transition: all .5s ease;
}

.is-not-scrolled
.content-card__radius {
  --radius: 75px;
}

.content-card__bg {
    background-color: var(--card-color);
}

.content-cards--competencies
.content-card__btn {
  background-color: var(--card-color) !important;
  filter: none;
}

.content-cards--competencies
.content-card__btn:hover {
  background-color: var(--card-color);
  filter: brightness(1.2) blur(.5px) grayscale(.5);
}

@media (max-width: 768px) {
  .content-cards {
    grid-template-columns: 1fr;
  }

  .content-cards--details {
    gap: 25px;
  }

  .content-card--details {
    padding-top: 150px;
  }

  .content-card--details__image {
    width: 190px;
    height: 170px;
    top: -30px;
  }
}


