@import './variables.css';
@import './typography.css';
@import './header.css';
@import './footer.css';

.page {
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    background-color: var(--color-bg);
    color: var(--color-text);
}

.page.is-scrolled {
  padding-top: var(--header-height);
}

.page__content {
  flex: 1 0 auto;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.section {
    margin: 0;
}

.section:nth-of-type(odd) {
    background-color: var(--color-bg-alt);
}

.section__content {
    margin: 0 auto;
    max-width: var(--container-width);
    padding: 24px var(--container-padding);
}

.logo {
    font-family: var(--font-secondary);
    font-size: var(--font-size-xl);
    color: var(--color-dark);
    text-decoration: none;
}

.logo__image {
    height: 70px;
    width: auto;
    display: block;
    transition: all 0.3s ease;
}

.logo__image--white {
    filter: contrast(0%) brightness(200%);
}


.wide-content-blocks-container {
    display: grid;
    grid-auto-rows: 1fr;
    gap: 7px;
}


.wide-content-block {
    margin: 0 calc(0 - var(--container-padding));
    background-color: var(--color-bg);
    min-height: 300px;
    display: flex;
    overflow: hidden;
}

.wide-content-block:nth-of-type(odd) {
    flex-direction: row-reverse;
}

.wide-content-block--hero h1 {
  color: var(--color-accent);
}

.wide-content-block__content {
    padding: 40px;
    display: flex;
    flex: 0 0 50%;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.wide-content-block__background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    filter: blur(60px) brightness(2);
    transform: rotate(180deg) scale(1.5);
    opacity: .17;
    pointer-events: none;
}

@media (max-width: 1000px) {
    .wide-content-block__title {
        font-size: var(--font-size-hd);
    }
}

@media (max-width: 950px) {
    .wide-content-blocks-container {
        grid-auto-rows: min-content;
    }

    .wide-content-block {
        /* flex-direction: column; */
        display: block;
    }

    .wide-content-block__content {
        flex: 0 0 auto;
        width: 100%;
        padding: 40px 25px 25px;
    }
}

.wide-content-block__information,
.wide-content-block__information a {
    font-size: small;
    color: var(--color-gray);
}

.wide-content-block__information a:hover {
    color: var(--color-accent-alt2);
}

.wide-content-block__media {
    background-color: var(--color-text);
    max-height: 400px;
    display: flex;
    flex: 0 0 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.wide-content-block__video,
.wide-content-block__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section:nth-of-type(odd)  .wide-content-block  {
    background-color: var(--color-bg);
}

.section:nth-of-type(even) .wide-content-block  {
    background-color: var(--color-bg-alt);
}

.section__title {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 24px;
}

.section__title::after {
    content: "";
    display: block;
    margin: 5px auto;
    width: 90px;
    height: 3px;
    background-color: var(--color-accent-alt1);
}

/* Кнопки */

.btn {
  background-color: var(--color-dark);
  border: none;
  color: var(--color-text-negative);
  font-weight: 550;
  padding: 12px 24px;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: var(--font-size-sm);
  position: relative;
  overflow: hidden;
}

p .btn {
  margin: 12px 0 0;
  display: inline-block;
  text-decoration: none;
}

.btn:hover {
  background-color: var(--color-accent-alt1);
}

/* Графическме элементы */
.circle {
  position: relative;
  width: fit-content;
}

.circle__radius {
  width: var(--radius, 130px);
  height: var(--radius, 130px);;
  border-radius: 100%;
  border: 2px solid var(--color-accent);
  display: inline-grid;
  align-items: center;
  justify-items: center;
}

.circle__radius--nested {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
}