@import './variables.css';
@import './typography.css';
@import './header.css';
@import './footer.css';
@import './content-card.css';
@import './scheme.css';

.page {
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    background-color: var(--color-bg);
    color: var(--color-text);
}

.page.is-scrolled {
  padding-top: var(--header-height);
}

.page__content {
  flex: 1 0 auto;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.section {
    margin: 0;
}

.section:nth-of-type(odd) {
    background-color: var(--color-bg-alt);
}

.section__content {
    margin: 0 auto;
    max-width: var(--container-width);
    padding: 24px var(--container-padding);
}

.logo {
    font-family: var(--font-secondary);
    font-size: var(--font-size-xl);
    color: var(--color-dark);
    text-decoration: none;
}

.logo__image {
    height: 70px;
    width: auto;
    display: block;
    transition: all 0.3s ease;
}

.logo__image--white {
    filter: contrast(0%) brightness(200%);
}


.content-blocks-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 7px;
}


.wide-content-block {
    margin: 0 auto;
    background-color: var(--color-bg);
    min-height: 300px;
    max-height: 600px;
    display: flex;
    overflow: hidden;
}

.wide-content-block--hero {
    flex-direction: row !important;
}

.wide-content-block--competence {
    min-height: auto;
    border-bottom: 6px solid var(--color-competence);
    position: relative;
} 


.wide-content-block:not(:has(.wide-content-block__media)) {
    min-height: auto;
    display: block;
}

.wide-content-block:not(:has(.wide-content-block__media)) p {
    font-size: var(--font-size-lg);
}


.section:nth-of-type(odd)  .wide-content-block  {
    background-color: var(--color-bg);
}

.section:nth-of-type(even) .wide-content-block  {
    background-color: var(--color-bg-alt);
}

.wide-content-block:nth-of-type(odd) {
    flex-direction: row-reverse;
}



.wide-content-block__content {
    padding: 40px;
    display: flex;
    flex: 0 0 50%;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.wide-content-block--competence
.wide-content-block__content {
    flex: 0 0 auto;
    width: 100%;
    position: relative;
    z-index: 1;
}

.wide-content-block--hero   
.wide-content-block__title {
  color: var(--color-accent);
}

.wide-content-block__subtitle i {
    color: var(--color-gray);
}

.wide-content-block__title--just-line {
  color: var(--color-competence);
  font-size: 2rem;
}

.wide-content-block__title--just-line strong {
  color: var(--color-gray);
  font-size: 2rem;
}

.wide-content-block__title--just-line .subheadline  {
  color: var(--color-competence);
  text-decoration: none;
  font-weight: 500;
}


.wide-content-block__content > * {
    position: relative;
}

.wide-content-block--hero
.wide-content-block__media {
    max-height: none;
}

.wide-content-block__background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    filter: blur(100px) brightness(2);
    transform: rotate(180deg) scale(1.5);
    opacity: .3;
    pointer-events: none;
}

.wide-content-block__bg {
  background: var(--color-competence);;
}

@media (max-width: 1000px) {
    .wide-content-block__title {
        font-size: var(--font-size-sm);
        opacity: 0.9;
    }
    .wide-content-block--hero .wide-content-block__title {
        font-size: var(--font-size-base);
        opacity: 0.9;
    }
}

@media (max-width: 950px) {
    .wide-content-block {
        /* flex-direction: column; */
        display: block;
    }

     .wide-content-block--hero {
        margin: -24px calc(1px - var(--container-padding));
        background-color: transparent;
    }

    .wide-content-block__content {
        flex: 0 0 auto;
        width: 100%;
        padding: 40px 25px 25px;
    }
}

.wide-content-block__information,
.wide-content-block__information a {
    font-size: small;
    color: var(--color-gray);
}

.wide-content-block__information a:hover {
    color: var(--color-accent-alt2);
}

.wide-content-block__media {
    background-color: var(--color-text);
    max-height: 450px;
    display: flex;
    flex: 0 0 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.wide-content-block__video,
.wide-content-block__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section__title {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 24px;
}

.section__title::after {
    content: "";
    display: block;
    margin: 5px auto;
    width: 90px;
    height: 3px;
    background-color: var(--color-accent-alt1);
}

/* Кнопки */

.btn {
  background-color: var(--color-dark);
  border: none;
  color: var(--color-text-negative);
  font-weight: 550;
  padding: 12px 24px;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: var(--font-size-sm);
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

p .btn {
  margin: 12px 0 0;
  display: inline-block;
}

.btn:hover {
  background-color: var(--color-accent-alt1);
}

/* Графическме элементы */
.circle {
  --circle-color: var(--color-accent);
  --circle-radius: 130px;
  position: relative;
  width: fit-content;
  color: var(--circle-color);
  font-size: 3.5em;
}

.circle__radius {
  width: var(--circle-radius);
  height: var(--circle-radius);
  display: inline-grid;
  align-items: center;
  justify-items: center;
  transition: all .5s ease;
  border-radius: 100%;
  border: 2px solid var(--circle-color);
}

.circle__radius--nested {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
}

.circle__icon {
    margin-top: calc(0px - var(--circle--shift-down, 0));
    margin-right: calc(0px - var(--circle--shift--right, 0));
    transition: all .5s ease;
    font-weight: 570;
}

.pale-background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .05;
    z-index: 0;
}