:root {
  --color-competence: var(--color-accent-alt4);
}

.wide-content-block__title--jusy-line {
  color: var(--color-competence);
  font-size: 2.5rem;
}

.wide-content-block__title--jusy-line strong {
  color: #555555;
  font-size: 1.5em;
}

.section__title {
  margin: 24px auto;
}

.section--modernization__categories {
  padding: 24px 0;
  margin: 0 -6px;
}

.section--modernization__categories::after {
  content: "";
  display: block;
  clear: both;
}

.section--modernization__category {
  float: left;
  margin: 6px;
  width: calc(100% / 3 - 24px);
}

.section--modernization__category:not(:has(h3)) {
  padding-top: 24px;
}

.section--modernization__categories--two-columns
.section--modernization__category {
  width: calc(50% - 24px);
}

.section--modernization__categories--uno-columns
.section--modernization__category {
  width: calc(100% - 24px);
  font-size: var(--font-size-lg);
}

.section--modernization__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section--modernization__item {
  position: relative;
  padding-left: 15px;
  margin-bottom: 6px;
  line-height: var(--line-height-base);
}

.section--modernization__item[onclick^="activateSchemePoint"] {
  cursor: pointer;
}

.section--modernization__item[onclick^="activateSchemePoint"]:hover {
  text-decoration: underline;
  color: var(--color-accent-alt2);
}

.section--modernization__item[onclick^="activateSchemePoint"]:active {
  text-decoration: underline;
  color: var(--color-accent-alt1);
}


.section--modernization__item::before {
  content: "-";
  position: absolute;
  left: 0;
  color: var(--color-accent-alt4);
}

.content-cards--details {
  margin: 36px 0 24px;
}

.content-card--details {
  border-bottom-color: #406481;
}

@media (max-width: 768px) {
  .section--modernization__category {
    width: 100% !important;
    padding-top: none !important;
  }

  .section--modernization__scheme {
    margin: -24px -24px 0;
  }
  
}