:root {
  --color-competence: var(--color-accent-alt4);
}

.modernization {
  font-family: "Inter", sans-serif;
  color: #222;
}

/* Основная структура */
.modernization__text {
  color: var(--color-gray);
    line-height: var(--line-height-lg);
    margin-bottom: 30px;
  }
  
  .modernization__image img {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  
  @media screen and (min-width: 1200px) {
  .modernization__image {
    margin-top: -100px;
  }
  .section__title--modernization {
    margin-top: 10px;
    position: relative;
  }
}

/* Категории модернизации */
.modernization__categories {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border-top: 1px solid var(--color-muted-light);
  border-bottom: 1px solid var(--color-muted-light);
  padding: 40px 0;
}

.modernization__category {
  flex: 1 1 260px;
}

.modernization__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.modernization__item {
  position: relative;
  padding-left: 15px;
  margin-bottom: 6px;
  line-height: var(--line-height-base);
}

.modernization__item::before {
  content: "-";
  position: absolute;
  left: 0;
  color: var(--color-accent-alt4);
}

/* Перспективные проекты */
.modernization__projects {
  margin-top: 80px;
}

.modernization__projects-title {
  text-align: center;
  margin-bottom: 50px;
  color: #395870;
}
