:root {
  --color-competence: var(--color-accent-alt2);
}

.section--hero
.wide-content-block {
  margin-bottom: -71px;
}

.section--benefits {
  background-color: var(--color-dark);
}

.section--benefits .content-cards--benefits {
  margin-top: 30px;
  margin-bottom: -170px;
  position: relative;
  z-index: 2;
}

.wide-content-block__subtitle {
    margin-bottom: 10px;
}


.section--promo {
    position: relative;
    padding-bottom: 0;
    color: #fff;
    overflow: hidden;
    background-color: var(--color-dark) !important;
}


.section--promo .section__content {
    position: relative;
    display: flex;
    align-items: flex-end;
    align-content: center;
    justify-content: center;
    min-height: 550px;
    max-width: 1300px;
    padding-bottom: 0;
    /* transition: all linear .2s; */
}

@media (min-width: 1200px) {
    /* .is-not-scrolled  */
    .section--promo .section__content {
        min-height: 
        min(
            max(500px, calc(100vh - 536px)),
            1000px
        );
    }
}

.section--promo .promo__bg {
    position: absolute;
    inset: 0;
    background-image: url("/images/service-banner.jpg");
    opacity: .8;
    background-size: cover;
    background-position: center;
    z-index: 0;
}


.section--promo .promo__overlay {
    position: relative;
    z-index: 1;
    background: #0c1d30dc;
    padding: 48px var(--container-padding);
    max-width: calc(var(--container-width) - var(--container-padding) * 2);
}

.promo__title {
    filter: brightness(1.3);
}

.specialists {
    display: grid;
    gap: 7px
}


.specialists__diagram-office,
.specialists__diagram-specialists {
 text-align: center;
 align-items: center;
 margin: 0 auto;
}

.specialists__diagram-office {
    padding: 24px 48px;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    background-color: color-mix(in oklab, var(--color-accent-alt2), #ffffff 90% );
    border-bottom: 6px solid var(--color-accent-alt2);
    margin-bottom: -80px;
    position: relative;
}

.specialists__diagram-office::before {
    content: "";
    position: absolute;
    border-left: 2px dashed var(--color-dark);
    left: 50%;
    bottom: -48px;
    height: 42px;
}

.specialists__office-title {
    text-transform: none;
    font-weight: 550;
    color: var(--color-accent-alt2),;
}

.specialists__office-subtitle {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    text-transform: uppercase;
    font-style: italic;
    font-weight: 600;
    opacity: .8;
}

.specialists__diagram-office img {
    width: 100%;
}


.specialists__diagram-specialists {
    padding: 48px;
    padding-top: 124px;
    background-color: var(--color-light-gray);
}

.specialists__diagram-title {
    text-transform: none;
    color: var(--text-color);
    font-weight: 550;
    display: grid;
    align-items: end;
    grid-template-columns: auto max-content auto;
}

.specialists__diagram-title span {
    padding: 24px 42px;
    margin: -24px 0;
}

.specialists__diagram-title::after,
.specialists__diagram-title::before {
    content: "";
    border-top: 2px dashed var(--color-dark);
    height: 30px;
    width: 50%;
}

.specialists__diagram-title::after {
 margin-right: 50%;
}

.specialists__diagram-title::before {
     margin-left: 50%;
}

.specialists__diagram-title i {
    color: var(--color-dark);
}

.specialists__groups {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 7px
}

.specialists-group {
    --group-color: var(--color-accent-alt4);
    --group-color-mutet: color-mix(in oklab, var(--group-color), #ffffff 85% );
    position: relative;
    background-color: var(--group-color-mutet);
    border-bottom: 6px solid var(--group-color);
    text-align: left;
    padding: 24px;
}

.specialists-group::before {
    content: "";
    position: absolute;
    border-left: 2px dashed var(--color-dark);
    left: 50%;
    top: -80px;
    height: 80px;
}


.specialists-group:nth-child(2)::before {
    top: -24px;
    height: 24px;
}

.specialists-group__count {
    color: var(--group-color);
    font-size: 3.75rem;
    height: 3rem;
    margin-bottom: 6px;
    overflow: hidden;
    font-weight: 600;
}

.specialists-group__icons {
    display: flex;
    justify-content: space-between;
}

.specialists-icon {
    font-size: 3.5em;
    font-weight: 570;
    color: var(--group-color);
    position: relative;
}

.specialists-icon:nth-of-type(odd) {
    top: 5px;
}

.specialists-icon:nth-of-type(3n) {
    top: -3px;
}

.specialists-group__title  {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    text-transform: uppercase;
    font-weight: 600;
}

.specialists-group__note {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    color: var(--color-gray);
    font-style: italic;
    margin-top: 12px;
    margin-bottom: -6px;
}

@media (max-width: 1150px) {
    .specialists-group__icons {
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;
    }
    
    .specialists-icon:nth-of-type(odd) {
        left: 5px;
    }

    .specialists-icon:nth-of-type(3n) {
        left: -3px;
    }


    .specialists__diagram-title {
        grid-template-columns: repeat(3, 1fr);
    }

    .specialists__diagram-title span {
        padding: 0;
        margin: 0;
    }
}

@media (max-width: 700px) {
    .specialists__diagram-specialists {
        margin: 0 -24px;
    }
}

@media (max-width: 600px) {
    .specialists__diagram-specialists {
        margin: 0 -24px;
        padding-right: 7px;
        padding-left: 7px;
    }
}


