
.adaptuve-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 12px;
}

.section:nth-of-type(odd)  .adaptuve-table  {
    background-color: var(--color-bg);
}

.section:nth-of-type(even) .adaptuve-table  {
    background-color: var(--color-bg-alt);
}




.adaptuve-table__thead {
    background: var(--color-accent);
    color: var(--color-text-negative);
}

.adaptuve-table__thead th {
    padding: 12px;
    border: 1px solid var(--color-gray);
}

.adaptuve-table__subth {
    font-style: italic;
    opacity: .8;
    font-size: var(--font-size-sm);
}




.adaptuve-table__tbody td {
    padding: 12px;
    border: 1px solid var(--color-gray);
    vertical-align: top;
}

.adaptuve-table__tbody td u {
    color: var(--color-dark);
}

.adaptuve-table__tbody td[rowspan] {
    vertical-align: middle;
}

.adaptuve-table__mobile-duplicate,
.adaptuve-table__mobile-label {
    display: none;
}


@media (max-width: 900px) {
    .adaptuve-table__thead {
        display: none;
    }

    .adaptuve-table,
    .adaptuve-table__tbody,
    .adaptuve-table tr,
    .adaptuve-table td {
        display: block;
        width: 100%;
    }

    .adaptuve-table__tbody tr {
        margin-bottom: 12px;
        border: 1px solid #ddd;
        padding: 8px;
    }

    .adaptuve-table__tbody td {
        border: none;
        padding: 4px 0;
    }

    .adaptuve-table__mobile-label {
        display: block;
        font-weight: bold;
        margin-bottom: 4px;
    }

    .adaptuve-table__mobile-duplicate {
        display: block;
    }
}