:root {
  /* Основные цвета */
  --color-dark: #17406D;
  --color-light-gray: rgb(238, 238, 238);
  --color-gray: #5a5a5c;
  --color-light: #DBEFF9;

  /* Акцентные и дополнительные */
  --color-accent: #0F6FC6;
  --color-accent-alt1: #d61f26;
  --color-accent-alt2: #f49037;
  --color-accent-alt3: #5a5a5c;
  --color-accent-alt4: #25917f;
  --color-accent-alt5: #216399;
  --color-accent-alt6: #F49100;
  --color-accent-alt7: #85DFD0;

  /* Цвета текста и фона */
  --color-text: #222;
  --color-text-negative: #fff;
  --color-border: #e5e5e577;
  --color-bg: #fff;
  --color-bg-alt: #f5f5f5; /* Добавляем новый серый цвет */

  /* Контейнер и размеры */
  --container-width: 1200px;
  --container-padding: 24px;
}
