---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/modernization.css";
---

<BaseLayout title="Модернизации | РС+">
    <section class="section section--hero">
        <div class="section__content">
            <div class="wide-content-block wide-content-block--competence">
                <div class="pale-background wide-content-block__bg"></div>
                <div class="wide-content-block__content">
                    <h1 class="wide-content-block__title">
                        <strong>Модернизации</strong>
                    </h1>
                    <p class="subheadline wide-content-block__subtitle">
                        Поддержание жизненного цикла<br/><i>2026 год — год модернизаций!</i>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section section--benefits">
        <div class="section__content">
            <div class="content-cards content-cards--benefits">
                <article class="content-card content-card--benefit">
                    <div class="content-card__bg pale-background"></div>
                    <div class="content-card__icon-container">
                        <div class="content-card__circle circle">
                            <div class="content-card__radius circle__radius">
                                <div class="content-card__radius circle__radius circle__radius--nested ">
                                    <div class="content-card__radius circle__radius circle__radius--nested">
                                        <div class="content-card__icon icon-tsennost"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-card__body">
                        <p class="content-card__text">Получите больше ценности за счет улучшения производительности, качества и безопасности</p>
                    </div>
                </article>

                <article class="content-card content-card--benefit">
                    <div class="content-card__bg pale-background"></div>
                    <div class="content-card__icon-container">
                        <div class="content-card__circle circle">
                            <div class="content-card__radius circle__radius">
                                <div class="content-card__radius circle__radius circle__radius--nested ">
                                    <div class="content-card__radius circle__radius circle__radius--nested">
                                        <div class="content-card__icon icon-deadlines"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-card__body">
                        <p class="content-card__text">Продлите срок службы вашего оборудования и повысьте экономическую эффективность</p>
                    </div>
                </article>

                <article class="content-card content-card--benefit">
                    <div class="content-card__bg pale-background "></div>
                    <div class="content-card__icon-container">
                        <div class="content-card__circle circle">
                            <div class="content-card__radius circle__radius">
                                <div class="content-card__radius circle__radius circle__radius--nested ">
                                    <div class="content-card__radius circle__radius circle__radius--nested">
                                        <div class="content-card__icon icon-progress"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-card__body">
                        <p class="content-card__text">Будьте впереди конкурентов, используя новейшие технологические инновации</p>
                    </div>
                </article>
            </div>
        </div>
    </section>

    <section class="section section--modernization-overview">
        <div class="section__content">
            <h2 class="section__title">Направления модернизаций</h2>
            <div class="content-cards">

                <div class="content-card content-card--line">
                    <div class="content-card__body">
                        <div class="content-card__image">
                            <img src="/images/modernization/line-peeling-preview.png" alt="Линии лущения">
                        </div>
                        <h3 class="content-card__title">Линии лущения</h3>
                        <p class="content-card__desc">Повышение точности, энергоэффективности и скорости лущения шпона.</p>
                    </div>
                    <div class="content-card__footer">
                        <a href="/modernization/peeling/" class="btn content-card__btn">Смотреть решения</a>
                    </div>
                </div>

                <div class="content-card content-card--line">
                    <div class="content-card__body">
                        <div class="content-card__image">
                            <img src="/images/modernization/line-drying-grading-preview.png" alt="Линии сушки и сортировки">
                        </div>
                        <h3 class="content-card__title">Линии сушки и сортировки</h3>
                        <p class="content-card__desc">Современные решения для контроля влажности и повышения производительности.</p>
                    </div>
                    <div class="content-card__footer">
                        <a href="/modernization/drying-grading/" class="btn content-card__btn">Смотреть решения</a>
                    </div>
                </div>

                <div class="content-card content-card--line">
                    <div class="content-card__body">
                        <div class="content-card__image">
                            <img src="/images/modernization/line-composing-preview.png" alt="Линии ребросклейки">
                        </div>
                        <h3 class="content-card__title">Линии ребросклейки</h3>
                        <p class="content-card__desc">Оптимизация качества стыковки шпона и интеграция новых систем управления.</p>
                    </div>
                    <div class="content-card__footer">
                        <a href="/modernization/composing/" class="btn content-card__btn">Смотреть решения</a>
                    </div>
                </div>

                <div class="content-card content-card--line">
                    <div class="content-card__body">
                        <div class="content-card__image">
                            <img src="/images/modernization/line-repair-preview.png" alt="Линии починки шпона">
                        </div>
                        <h3 class="content-card__title">Линии починки шпона</h3>
                        <p class="content-card__desc">Автоматизация подклейки трещин и повышение эффективности восстановления шпона.</p>
                    </div>
                    <div class="content-card__footer">
                        <a href="/modernization/repair/" class="btn content-card__btn">Смотреть решения</a>
                    </div>
                </div>

                <div class="content-card content-card--line">
                    <div class="content-card__body">
                        <div class="content-card__image">
                            <img src="/images/modernization/line-layup-stacking-preview.png" alt="Линии наборки пакетов">
                        </div>
                        <h3 class="content-card__title">Линии наборки пакетов</h3>
                        <p class="content-card__desc">Совершенствование подачи шпона и повышение точности сборки пакетов.</p>
                    </div>
                    <div class="content-card__footer">
                        <a href="/modernization/layup-stacking/" class="btn content-card__btn">Смотреть решения</a>
                    </div>
                </div>

                <div class="content-card content-card--line">
                    <div class="content-card__body">
                        <div class="content-card__image">
                            <img src="/images/modernization/line-hot-pressing-preview.png" alt="Линии горячего прессования">
                        </div>
                        <h3 class="content-card__title">Линии горячего прессования</h3>
                        <p class="content-card__desc">Современные системы гидравлики и контроля толщины. Эффективность и автоматизация.</p>
                    </div>
                    <div class="content-card__footer">
                        <a href="/modernization/hot-pressing/" class="btn content-card__btn">Смотреть решения</a>
                    </div>
                </div>

                <div class="content-card content-card--line">
                    <div class="content-card__body">
                        <div class="content-card__image">
                            <img src="/images/modernization/line-laminating-preview.png" alt="Линии ламинирования">
                        </div>
                        <h3 class="content-card__title">Линии ламинирования</h3>
                        <p class="content-card__desc">Модернизация загрузки, систем нанесения пленки и гидравлики для высокой производительности.</p>
                    </div>
                    <div class="content-card__footer">
                        <a href="/modernization/laminating/" class="btn content-card__btn">Смотреть решения</a>
                    </div>
                </div>

            </div>
        </div>
    </section>


<section class="section section--modernization-projects">
     <div class="section__content">
        <h2 class="section__title">Примеры реализованных проектов</h2>

        <article class="project">
            <h3 class="project__title">Модернизация гидравлики СВЕЗА Кострома</h3>
            <div class="project__description">
             <ul class="section--modernization__list">
                    <li class="section--modernization__item">Провели модернизацию гидравлической системы управления движением шпиндельной группы на линии лущения VE800x2700;</li>
                    <li class="section--modernization__item">Повысили надежность оборудования и качество выпускаемой продукции;</li>
                    <li class="section--modernization__item">Обновили систему управления: возможность выбора давления с панели оператора;</li>
                    <li class="section--modernization__item">Простая и понятная регулировка скорости открытия/закрытия.</li>
                </ul>
            </div>

            <div class="project__media">
            <div class="project__diagram">
                <img src="images/modernization/hydraulics_scheme.png" alt="Схема модернизации гидравлики" class="project__diagram-image">
            </div>
            <div class="project__images">
                <img src="images/modernization/hydraulics_1.jpg" alt="Гидравлика СВЕЗА, вид 1" class="project__image project__image--left">
                <img src="images/modernization/hydraulics_2.jpg" alt="Гидравлика СВЕЗА, вид 2" class="project__image project__image--right">
            </div>
            </div>
        </article>

        <article class="project">
            <h3 class="project__title">Новый ножевой суппорт СВЕЗА Кострома</h3>
            <div class="project__description">
                Провели изготовление, поставку и шеф-монтаж нового суппорта на линию лущения VE800x1700
                <div class="project__cards content-cards content-cards--arrows">
                    <div class="content-card">
                        <div class="content-card__arrow"></div>
                        <div class="content-card__image content-card__image--detail">
                            <img src="/images/modernization/project-support.png" alt="Проектирование" style="transform:scaleX(-1)">
                        </div>
                        <div class="content-card__body">
                            <h4 class="content-card__title">Проектирование</h4>
                        </div>
                    </div>
                    <div class="content-card">
                        <div class="content-card__arrow"></div>
                         <div class="content-card__image content-card__image--detail">
                            <img src="/images/modernization/support_delivery.png" alt="Проектирование">
                         </div>
                        <div class="content-card__body">
                            <h4 class="content-card__title">Поставка и контроль</h4>
                        </div>
                    </div>
                    <div class="content-card">
                        <div class="content-card__image">
                            <img src="/images/modernization/chief_installation.jpg" alt="Проектирование">
                        </div>
                        <div class="content-card__body">
                            <h4 class="content-card__title">Шеф-монтаж и пусконаладка</h4>
                        </div>
                    </div>
            </div>
        </article>
    </div>
</section>