---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Модернизации | РС+">
    <section class="section ">
        <div class="section__content">
            <h1 class="section__title">Модернизации</h1>
            <p>Страница в процессе написания</p>
        </div>
    </section>
</BaseLayout>