---
import BaseLayout from "../layouts/BaseLayout.astro";
import BrandedCircle from "../components/BrandedCircle.astro";
import AdaptiveTable from "../components/AdaptiveTable.astro";
import "../styles/service.css";
const mechanics = Array.from({ length: 5 });
const automatics = Array.from({ length: 4 });
const mecano = Array.from({ length: 1 });

const specialists = [
    {
        id: "mechanic",
        title: "Меха<wbr>ника",
        workers: Array.from({ length: 4 }), 
    },
    {
        id: "automaitor",
        title: "Автома<wbr>тчика",
        workers: Array.from({ length: 4 })
    },
    {
        id: "mecano",
        title: "Специа<wbr>лист Mecano",
        workers: Array.from({ length: 1 })
    }
]
---

<BaseLayout title="Сервис | РС+">
    <section class="section section--hero">
        <div class="section__content">
            <div class="wide-content-block wide-content-block--competence">
                <div class="pale-background wide-content-block__bg"></div>
                <div class="wide-content-block__content">
                    <h1 class="wide-content-block__title">
                        <strong>Сервис</strong>
                    </h1>
                    <p class="subheadline wide-content-block__subtitle">  
                        <i>Сервисные услуги по вашим потребностям</i>
                    </p>
                </div>
            </div>
        </div>
    </section>

        <section class="section section--benefits">
        <div class="section__content">
            <div class="content-cards content-cards--benefits content-cards--competencies">
                <article class="content-card content-card--benefit">
                    <div class="content-card__bg pale-background"></div>
                    <div class="content-card__icon-container">
                        <BrandedCircle className="content-card__circle" iconId="parts"></BrandedCircle>
                    </div>
                    <div class="content-card__body">
                        <p class="content-card__text">
                            Рекомендации по запасным частям
                        </p>
                    </div>
                </article>

                <article class="content-card content-card--benefit">
                    <div class="content-card__bg pale-background"></div>
                    <div class="content-card__icon-container">
                        <BrandedCircle className="content-card__circle" iconId="field-service"></BrandedCircle>
                    </div>
                    <div class="content-card__body">
                        <p class="content-card__text">
                            Выезд специалистов для диагностики и ремонта оборудования
                        </p>
                    </div>
                </article>

                <article class="content-card content-card--benefit">
                    <div class="content-card__bg pale-background "></div>
                    <div class="content-card__icon-container">
                        <BrandedCircle className="content-card__circle" iconId="target"></BrandedCircle>
                    </div>
                    <div class="content-card__body">
                        <p class="content-card__text">
                            Сервис на результат — комплексные программы обслуживания
                        </p>
                    </div>
                </article>

                <article class="content-card content-card--benefit">
                    <div class="content-card__bg pale-background"></div>
                    <div class="content-card__icon-container">
                        <BrandedCircle className="content-card__circle" iconId="training"></BrandedCircle>
                    </div>
                    <div class="content-card__body">
                        <p class="content-card__text">
                            Оптимизация бизнес-процессов и обучение
                        </p>
                    </div>
                </article>

                <article class="content-card content-card--benefit">
                    <div class="content-card__bg pale-background"></div>
                    <div class="content-card__icon-container">
                        <BrandedCircle className="content-card__circle" iconId="modernization"></BrandedCircle>
                    </div>
                    <div class="content-card__body">
                        <p class="content-card__text">
                            Проекты улучшений и модернизации
                        </p>
                    </div>
                </article>
            </div>
        </div>
    </section>

    <section class="section section--promo" role="region" aria-label="Защитите инвестиции">
        <div class="section__content">
            <div class="promo__bg" aria-hidden="true"></div>
            <div class="promo__overlay">
                <h2 class="promo__title">Защитите эффективную производительность вашего предприятия </h2>
                <p class="promo__text">
                    Чтобы оставаться конкурентоспособными, бизнес‑подразделения производителей фанеры и LVL должны снижать операционные расходы и риски, поддерживая производительность и техническое обслуживание на постоянно высоком уровне. Соглашения об обслуживании РС+ помогут вам защитить свои инвестиции и увеличить производительность.
                </p>
            </div>
        </div>
    </section>


        <section class="section section--maintenance">
        <div class="section__content">
            <p class="section__pretitle">Техническое обслуживание и ремонт станков по производству фанеры</p>
            <h2 class="section__title">Для заводов с автоматизированными системами ТОиР</h2> 
            <div class="content-cards content-cards--two-columns">
                <div class="content-card">
                    <div class="content-card__body">
                        <h3 class="content-card__title">Преимущества работы с нами</h3>
                        <ul class="content-card__list">
                            <li>Тщательный осмотр станков по производству фанеры для выявления потенциальных проблем и оптимизации производительности</li>
                            <li>Разработка рекомендаций для улучшения автоматизации ТОиР и увеличения срока службы оборудования</li>
                            <li>Регулярное обслуживание для предотвращения поломок и минимизации простоя</li>
                            <li>Приоритетные услуги ремонта</li>
                            <li>Оперативный ремонт станков по производству фанеры в случае поломки, с учетом TPM-приоритетов</li>
                            <li>Минимизация простоя и восстановление производительности в кратчайшие сроки</li>
                            <li>Обучение и поддержка персонала для самостоятельного обслуживания и ремонта оборудования</li>
                        </ul>
                    </div>
                </div>

                <!-- <div class="content-card content-card--picture">
                    <div class="content-card__image">
                        <img src="/images/service/remont.jpg" alt="Ремонт оборудования">
                    </div>
                </div>

                <div class="content-card content-card--picture">
                    <div class="content-card__image">
                        <img src="/images/service/spindlies.png" alt="Шпиндели">
                    </div>
                </div> -->

                <div class="content-card">
                    <div class="content-card__body">
                        <h3 class="content-card__title">Наши достижения после ухода RAUTE</h3>
                        <ul class="content-card__list">
                            <li>Сохранили сервисную команду и бесценный опыт в обслуживании оборудования</li>
                            <li>Смонтировали и запустили без финской поддержки два крупных фанерных завода и множество мелких проектов</li>
                            <li>Наладили производство запасных частей по оригинальным чертежам</li>
                            <li>Расширили зоны сервисного обслуживания</li>
                            <li>Сохранили сервисные контракты с нашими партнерами</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <section class="section section--service">
        <div class="section__content">
            <p class="section__pretitle">Техническое обслуживание и ремонт станков по производству фанеры</p><h2 class="section__title">Для заводов с автоматизированными системами ТОиР</h2> 
            <div class="content-cards">
            <div class="content-card">
                <div class="content-card__body">
                <h3 class="content-card__title">Преимущества работы с нами</h3>
                <ul class="content-card__list">
                    <li>Тщательный осмотр станков и выявление проблем</li>
                    <li>Рекомендации по автоматизации ТОиР</li>
                    <li>Регулярное обслуживание и предотвращение простоев</li>
                    <li>Приоритетные услуги ремонта</li>
                    <li>Обучение персонала</li>
                </ul>
                </div>
            </div>

            <div class="content-card">
                <div class="content-card__body">
                <h3 class="content-card__title">Наши достижения после ухода RAUTE</h3>
                <ul class="content-card__list">
                    <li>Сохранили команду и опыт</li>
                    <li>Запустили два крупных завода без внешней поддержки</li>
                    <li>Наладили производство запчастей</li>
                    <li>Расширили зоны обслуживания</li>
                    <li>Сохранили контракты с партнёрами</li>
                </ul>
                </div>
            </div>
            </div>
        </div>
    </section> -->


    <section class="section section--process" aria-label="Этапы планового сервисного визита">
        <div class="section__content">
        <h2 class="section__title">Этапы планового сервисного визита</h2>
            <div class="content-cards content-cards--process">

                <article class="content-card content-card--process content-card--accent-alt1">
                <div class="content-card__bg pale-background"></div>
                <div class="content-card__body">
                    <div class="content-card__progresser">
                    <div class="content-card__icon-container">
                        <BrandedCircle className="content-card__circle" iconId="target"></BrandedCircle>
                    </div>
                    <div class="conteny-card__title-container">
                        <h3 class="content-card__title"><i>Шаг 1</i></h3>
                        <h4 class="content-card__subtitle">планирование визита</h4>
                    </div>
                    </div>
                    <p class="content-card__meta">За месяц до визита</p>
                    <ul class="content-card__list">
                    <li>Сбор вводных данных</li>
                    <li>Заполняется опросник от комбината по оцифрованным проблемам/задачам визита</li>
                    <li>Инженеры РС+ изучают опросник</li>
                    <li>Производится обмен дополнительной информацией</li>
                    </ul>
                </div>
                <div class="content-card__footer">
                    <div class="content-card--process__number">01</div>
                </div>
                </article>

                <article class="content-card content-card--process content-card--accent-alt2">
                <div class="content-card__bg pale-background"></div>
                <div class="content-card__body">
                    <div class="content-card__progresser">
                    <div class="content-card__icon-container">
                        <BrandedCircle className="content-card__circle" iconId="operator"></BrandedCircle>
                    </div>
                    <div class="conteny-card__title-container">
                        <h3 class="content-card__title"><i>Шаг 2</i></h3>
                        <h4 class="content-card__subtitle">подготовка к визиту</h4>
                    </div>
                    </div>
                    <p class="content-card__meta">В течение недели</p>
                    <ul class="content-card__list">
                    <li>Проводится ВКС со всеми заинтересованными сторонами</li>
                    <li>Планируется график выхода на оборудование</li>
                    <li>Определяются дополнительные ресурсы и информация</li>
                    <li>Согласовывается методология измерений и ожидаемый результат</li>
                    </ul>
                </div>
                <div class="content-card__footer">
                    <div class="content-card--process__number">02</div>
                </div>
                </article>

                <article class="content-card content-card--process content-card--accent-alt3">
                <div class="content-card__bg pale-background"></div>
                <div class="content-card__body">
                    <div class="content-card__progresser">
                    <div class="content-card__icon-container">
                        <BrandedCircle className="content-card__circle" iconId="tehnick"></BrandedCircle>
                    </div>
                    <div class="conteny-card__title-container">
                        <h3 class="content-card__title"><i>Шаг 3</i></h3>
                        <h4 class="content-card__subtitle">проведение визита</h4>
                    </div>
                    </div>
                    <p class="content-card__meta">Согласно графика</p>
                    <ul class="content-card__list">
                    <li>Выполняются работы на основании заранее оговоренного плана действий</li>
                    <li>Проводится заключительное ВКС</li>
                    <li>Оцениваются результаты визита</li>
                    <li>Определяются мероприятия для отслеживания</li>
                    </ul>
                </div>
                <div class="content-card__footer">
                    <div class="content-card--process__number">03</div>
                </div>
                </article>

                <article class="content-card content-card--process content-card--accent-alt4">
                <div class="content-card__bg pale-background"></div>
                <div class="content-card__body">
                    <div class="content-card__progresser">
                    <div class="content-card__icon-container">
                        <BrandedCircle className="content-card__circle" iconId="monitoring"></BrandedCircle>
                    </div>
                    <div class="conteny-card__title-container">
                        <h3 class="content-card__title"><i>Шаг 4</i></h3>
                        <h4 class="content-card__subtitle">отслеживание</h4>
                    </div>
                    </div>
                    <p class="content-card__meta">Через две недели после визита</p>
                    <ul class="content-card__list">
                    <li>Ведется отслеживание выполнения мероприятий</li>
                    <li>Проводится оценка результатов по выполненным мероприятиям</li>
                    </ul>
                </div>
                <div class="content-card__footer">
                    <div class="content-card--process__number">04</div>
                </div>
                </article>

                <article class="content-card content-card--process content-card--accent-alt5">
                <div class="content-card__bg pale-background"></div>
                <div class="content-card__body">
                    <div class="content-card__progresser">
                    <div class="content-card__icon-container">
                        <BrandedCircle className="content-card__circle" iconId="completed"></BrandedCircle>
                    </div>
                    <div class="conteny-card__title-container">
                        <h4 class="content-card__subtitle">Результат</h4>
                    </div>
                    </div>
                    <p class="content-card__meta">По факту выполнения запланированных мероприятий</p>
                    <ul class="content-card__list">
                    <li>Фиксируются достигнутые результаты</li>
                    <li>Сохранение исторических данных по мероприятиям</li>
                    </ul>
                </div>
                <div class="content-card__footer">
                    <div class="content-card--process__number">05</div>
                </div>
                </article>


            </div>
        </div>
    </section>





    <section class="section section--specialists">
        <div class="section__content">
            <h2 class="section__title">Специалисты РС+</h2>

               <div class="specialists__diagram">
                    <div class="specialists__diagram-office">
                        <h3 class="specialists__office-title">ООО «РС+» Санкт-Петербург</h3>
                        <p class="specialists__office-subtitle">офис и склад запасных частей</p>
                        <img src="/images/colnechnaja-office.svg" alt="офис компании" class="specialists__office">
                    </div>
                    <div class="specialists__diagram-specialists">
                        <h3 class="specialists__diagram-title">
                            <span>
                                Технические специалисты РС+ <br>
                                <i>— репутация компании</i>
                            </span>
                        </h3>
                        <div class="specialists__groups">
                            {specialists.map(({ id, title, workers }) => (
                                <div class={`specialists-group specialists-group--${id}`}>
                                    <header>
                                        <div class="specialists-group__count">{workers.length}</div>
                                        <p class="specialists-group__title" set:html={title}></p>
                                    </header>
                                    <main class="specialists-group__icons">
                                        {workers.map(() => (<div class={`specialists-icon icon-specialist-${id}`}></div>))}
                                    </main>
                                </div>
                            ))}
                        </div>

                        <p style="margin: 24px auto 0; max-width: 800px;text-indent: 24px;font-weight: 500;">
                        Квалифицированный персонал, вовлеченный в техническое обслуживания сложного оборудования, — это репутация компании, связанная как с ответственностью перед третьими лицами за надежность эксплуатируемого оборудования, так и за безопасность людей его эксплуатирующих.
                        </p>
                    </div>
                </div>

                <h3 style="text-align:center">Почему специалисты РС+ надёжны</h3>

                <div class="content-cards content-cards--benefits content-cards--competencies">
                    <article class="content-card content-card--benefit">
                        <div class="content-card__bg pale-background"></div>
                        <div class="content-card__icon-container">
                            <BrandedCircle className="content-card__circle" iconId="obrazovanie"></BrandedCircle>
                        </div>
                        <div class="content-card__body">
                             <ul class="content-card__list">
                                <li>Многоуровневый отбор</li>
                                <li>Системный процесс обучения</li>
                                <li>Непрерывное совершенствование навыков</li>
                            </ul>
                        </div>
                    </article>


                    <article class="content-card content-card--benefit">
                        <div class="content-card__bg pale-background"></div>
                        <div class="content-card__icon-container">
                            <BrandedCircle className="content-card__circle" iconId="gody-nastrojki"></BrandedCircle>
                        </div>
                        <div class="content-card__body">
                             <ul class="content-card__list">
                                <li>Средний возраст специалистов: 41 год</li>
                                <li>Средний стаж на технических должностях: 22 года</li>
                            </ul>
                        </div>
                    </article>

                    <article class="content-card content-card--benefit">
                        <div class="content-card__bg pale-background"></div>
                        <div class="content-card__icon-container">
                            <BrandedCircle className="content-card__circle" iconId="navyki"></BrandedCircle>
                        </div>
                            <ul class="content-card__list">
                                <li>Опыт: инженеры АСУТП, инженеры-механики, главные механики (в т.ч. фанерных заводов)</li>
                            </ul>
                    </article>
                </div>
        </div>
    </section>

    <section class="section section--service">
        <div class="section__content">
            <h2 class="section__title">Сервисные услуги</h2>

            <AdaptiveTable>
                <table class="adaptuve-table adaptuve-table--service">
                    <thead class="adaptuve-table__thead">
                        <tr>
                        <th>Услуга <br/> <span class="adaptuve-table__subth">по степени важности для эффективности производства</span></th>
                        <th>Описание услуги</th>
                        <th>Результат <br/> <span class="adaptuve-table__subth">цель которую мы хотим достичь</span></th>
                        <th>Условия и формат предоставления услуги</th>
                        </tr>
                    </thead>

                    <tbody class="adaptuve-table__tbody">
                        <tr>
                        <td><strong>1. Инспекции</strong></td>
                        <td>Согласованные и запланированные с Заказчиком инспекции оборудования с анализом текущего состояния, предложениями рекомендаций и работой с замечаниями. Могут перетекать в профилактическое ТО.</td>
                        <td>Снижение брака, КРС, затрат на внеплановое ТО, минимизация простоев, рост производительности и качества продукции.</td>
                        <td>Инспекции инженера-механика/автоматчика/Mecano.<br>
                            <u>Продолжительность:</u> 1–2,5 дня на линию.<br>
                            <u>Базовая стоимость:</u> от 5 785 руб/ч.
                        </td>
                        </tr>

                        <tr>
                        <td><strong>2. Профилактическое ТО (шеф-монтаж)</strong></td>
                        <td>Экспертный контроль за заменой узлов и агрегатов, устранением неисправностей, корректировка настроек. Выполняется по результатам инспекций или рекомендациям Заказчика.</td>
                        <td>Приведение оборудования в соответствие с параметрами производителя для обеспечения стабильной производительности.</td>
                        <td rowspan="3">
                            Визиты в зависимости от потребности (механик/автоматчик/Mecano).<br>
                            <u>Продолжительность:</u> в зависимости от ситуации, сложности проведения работ и наличия необходимых ресурсов.<br>
                            <u>Базовая стоимость:</u> от 5 785 руб/ч.
                        </td>
                        </tr>

                        <tr>
                        <td><strong>3. Диагностика неисправностей (Troubleshooting)</strong></td>
                        <td>Работы, направленные на определение и устранение неисправностей и внеплановых простоев.</td>
                        <td>Приведение оборудования в работоспособное состояние.</td>
                        </tr>

                        <tr>
                        <td><strong>4. Устранение неисправностей и отказов (Repair/Overhaul)</strong></td>
                        <td>Плановые и внеплановые корректирующие работы, реактивные действия по устранению простоев и неисправностей.</td>
                        <td>Восстановление нормальной работы оборудования.</td>
                        </tr>

                        <tr>
                        <td><strong>5. Удаленная поддержка</strong></td>
                        <td>Дистанционное решение технических вопросов и проблем заказчика.</td>
                        <td>Сокращение времени ожидания и оперативное решение задач.</td>
                        <td><u>Часы работы:</u><br>
                            08:00–18:00 (Пн–Пт),<br>
                            09:00–19:00 (Сб–Вс)<br>
                            <u>Базовая стоимость: </u>5 200 руб/ч
                            (первые 30 мин. без тарификации)
                        </td>
                        </tr>

                        <tr>
                        <td><strong>6. Mecano & VCA</strong></td>
                        <td>Настройка и калибровка сканирующих систем Mecano. Высокотехнологичный сервис.</td>
                        <td>Улучшение технологических параметров и производственной эффективности.</td>
                        <td>1 специалист Mecano.<br>
                            <u>Продолжительность:</u> от 1 дня.<br>
                            <u>Рекомендуемая периодичность:</u> 1 раз в год.<br>
                            <u>Базовая стоимость:</u> 9 500 руб/ч.
                        </td>
                        </tr>

                        <tr>
                        <td><strong>7. Обучающие курсы, тренинги, консультации</strong></td>
                        <td>Инвестиции в компетенции персонала для повышения эффективности и прибыльности предприятия.</td>
                        <td>Формирование культуры бережного отношения к процессам и оборудованию.</td>
                        <td><u>Темы курсов:</u> технология, механика, гидравлика, автоматика, системы Mecano.<br>
                            <u>Продолжительность:</u> от 2 дней.<br>
                            <u>Базовая стоимость:</u>  от 72 000 руб/день.</td>
                        </tr>
                    </tbody>
                </table>
            </AdaptiveTable>

           <p>
                * без учета НДС и косвенных расходов (транспорт, проживание)<br>
                ** минимальная оплата 2 часа.
            </p>
        </div>
    </section>

    
</BaseLayout>