---
const currentPath = Astro.url.pathname;

const getActiveClass = (path: string) => 
    (path === '/' ? currentPath === '/' : currentPath.startsWith(path)) 
        ? 'header__link--active' 
        : '';
---


<header class="header">
    <div class="header__top">
        <div class="header__container">
            <div class="header__contacts">
                <span
                    ><a
                        href="mailto:info@rsplus-spb.ru"
                        class="header__contacts-link">info@rsplus-spb.ru</a
                    ></span
                >
                <span
                    ><a href="tel:+79111620055" class="header__contacts-link"
                        ><i>Сервис: </i>+7 (911) 162-00-55</a
                    ></span
                >
                <span
                    ><a href="tel:+79816815741" class="header__contacts-link"
                        ><i>Запасные части:</i> +7 (981) 681-57-41</a
                    ></span
                >
            </div>
        </div>
    </div>

    <div class="header__bottom">
        <div class="header__container">
            <a href="/" class="header__logo logo">
                <img
                    src="/images/logo-rsplus.svg"
                    alt="Логотип компании RS Plus"
                    class="logo__image"
                />
            </a>
            <button class="header__burger" aria-label="Открыть меню">
                <span class="header__burger-line"></span>
                <span class="header__burger-line"></span>
                <span class="header__burger-line"></span>
            </button>
            <nav class="header__nav">
                <a href="/" class={`header__link ${getActiveClass('/')}`}>Главная</a>
                <a href="/service" class={`header__link ${getActiveClass('/service')}`}>Сервис</a>
                <a href="/lines" class={`header__link ${getActiveClass('/lines')}`}>Оборудование</a>
                <a href="/modernization" class={`header__link ${getActiveClass('/modernization')}`}>Модернизации</a>
                <a href="/parts" class={`header__link ${getActiveClass('/parts')}`}>Запчасти</a>
                <a href="/contacts" class={`header__link ${getActiveClass('/contacts')}`}>Контакты</a>
            </nav>
        </div>
    </div>
</header>

<script type="module" src="/scripts/scroll-observer.js"></script>
<script type="module" src="/scripts/header-burger.js"></script>
