---
import ModernizationLayout from "../../layouts/ModernizationLayout.astro";
import SchemePoint from "../../components/SchemePoint.astro";
---

<ModernizationLayout subtitle="Линия ребросклейки" title="Модернизации линий ребросклейки | РС+">
    <section class="section section--modernization section--composing-line">
        <div class="section__content">
            <div class="section--modernization__intro">
                <div class="section--modernization__scheme scheme">
                    <img
                        src="/images/modernization/line-composing-overview.png"
                        alt="Линия ребросклейки"
                    />
                </div>
            </div>

            <div class="section--modernization__categories section--modernization__categories--uno-columns">
                <div class="section--modernization__category">
                    <ul class="section--modernization__list">
                        <li class="section--modernization__item">
                            Модернизация автоматики для старых линий
                            ребросклейки Raute
                        </li>
                        <li class="section--modernization__item">
                            Установка новой камеры (совместно с ЛИС)
                        </li>
                        <li class="section--modernization__item">
                            Капитальный ремонт станков под ключ
                        </li>
                        <li class="section--modernization__item">
                            Экспертный сервис - технический/технологический
                            аудит, обучение, сервисные программы
                        </li>
                        <li class="section--modernization__item">
                            Поставка запасных частей
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</ModernizationLayout>
