---
import ModernizationLayout from "../../layouts/ModernizationLayout.astro";
import SchemePoint from "../../components/SchemePoint.astro";
---

<ModernizationLayout subtitle="Линия горячего прессования" title="Модернизации линий горячего прессования | РС+">

    <section class="section section--modernization section--hot-pressing-line">
        <div class="section__content">
            <div class="section--modernization__intro">
                <div class="section--modernization__scheme scheme scheme--dont-fold">
                    <img src="/images/modernization/line-hot-pressing-overview.png" alt="Линия горячего прессования Raute">
                    <div class="scheme__points-container">
                        <SchemePoint id="auto-thickness" x={35} y={30}>Автоматический контроль толщины</SchemePoint>
                        <SchemePoint id="auto-loading" x={25} y={55}>
                            Автоматическая загрузка плит<br>
                            <strong>Минус 2 человека в смену!</strong>
                        </SchemePoint>
                    </div>
                </div>
            </div>

            <div class="section--modernization__categories section--modernization__categories--uno-columns">
                <div class="section--modernization__category">
                    <h3 class="section--modernization__category-title">Модернизация и поставка</h3>
                    <ul class="section--modernization__list">
                        <li class="section--modernization__item" onclick="activateSchemePoint('auto-thickness')">Автоматический контроль толщины</li>
                        <li class="section--modernization__item" onclick="activateSchemePoint('auto-loading')">Автоматическая загрузка плит</li>
                        <li class="section--modernization__item">Модернизация гидравлики</li>
                        <li class="section--modernization__item">Поставка новых плит горячего прессования</li>
                        <li class="section--modernization__item">Капитальный ремонт станков под ключ</li>
                        <li class="section--modernization__item">Экспертный сервис — технический/технологический аудит, обучение, сервисные программы</li>
                        <li class="section--modernization__item">Поставка запасных частей</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

        <section class="section section--modernization-projects">
        <div class="section__content">
            <h2 class="section__title">Пример проекта</h2>
            <div class="content-cards content-cards--details">
                <div class="content-card content-card--details">
                    <div class="content-card--details__image">
                        <img src="/images/modernization/project-auto-loading.png" alt="Автоматическая загрузка плит — минус 2 человека в смену!">
                    </div>
                    <div class="section--modernization__project-content">
                        <h4 class="content-card__title">Автоматическая загрузка плит</h4>
                        <p class="content-card__project-desc">Снижение трудозатрат и повышение безопасности при подаче плит в пресс. <strong>Минус 2 человека в смену!</strong></p>
                        <div class="content-card__footer">
                            <button class="btn content-card__btn" onclick="activateSchemePoint('auto-loading')">Смотреть на схеме</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</ModernizationLayout>
