---
import ModernizationLayout from "../../layouts/ModernizationLayout.astro";
import SchemePoint from "../../components/SchemePoint.astro";
---

<ModernizationLayout subtitle="Линия наборки пакетов" title="Модернизации линий наборки пакетов | РС+">

    <section class="section section--modernization section--layup-stacking-line">
        <div class="section__content">
            <div class="section--modernization__intro">
                <div class="section--modernization__scheme scheme">
                    <img src="/images/modernization/line-layup-stacking-overview.png" alt="Линия наборки пакетов Raute">
                </div>
            </div>

            <div class="section--modernization__categories section--modernization__categories--uno-columns">
                <div class="section--modernization__category">
                    <h3 class="section--modernization__category-title">Модернизация и поставка</h3>
                    <ul class="section--modernization__list">
                        <li class="section--modernization__item">Поставка новых линий LEG</li>
                        <li class="section--modernization__item">Модернизация системы подачи шпона</li>
                        <li class="section--modernization__item">Капитальный ремонт станков под ключ</li>
                        <li class="section--modernization__item">Экспертный сервис — технический/технологический аудит, обучение, сервисные программы</li>
                        <li class="section--modernization__item">Поставка запасных частей</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</ModernizationLayout>
