---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SchemePoint from '../../components/SchemePoint.astro';
import "../../styles/modernization.css";
---
<script src="/scripts/scheme.js" defer></script>
<BaseLayout title="Модернизации линий починки шпона | РС+">
    <section class="section section--hero"> 
    <div class="section__content">
        <div class="wide-content-block wide-content-block--competence"> 
            <div class="pale-background wide-content-block__bg"></div>
                <div class="wide-content-block__content">
                    <h1 class="wide-content-block__title wide-content-block__title--jusy-line">
                        Модернизации<br>
                        <strong>Линия починки шпона</strong>
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <section class="section section--modernization section--repair-line">
    <div class="section__content">
        <div class="section--modernization__intro">
            <div class="section--modernization__scheme scheme scheme--dont-fold">
                <img src="/images/modernization/line-repair-overview.png" alt="Линия починки шпона Raute">
                <div class="scheme__points-container">
                    <SchemePoint id="repair-glue" x={55} y={33}>Установка системы подклейки трещин</SchemePoint>
                    <SchemePoint id="repair-stamp" x={56} y={45}>Модернизация/поставка штампов</SchemePoint>
                </div>
            </div>
        </div>

        <div class="section--modernization__categories section--modernization__categories--two-columns">
            <div class="section--modernization__category">
                <h3 class="section--modernization__category-title">Основные направления</h3>
                <ul class="section--modernization__list">
                    <li class="section--modernization__item" onclick="activateSchemePoint('repair-glue')">Установка системы подклейки трещин</li>
                    <li class="section--modernization__item" onclick="activateSchemePoint('repair-stamp')">Модернизация/поставка штампов</li>
                    <li class="section--modernization__item">Поставка новых линий на 1, 2, 3 и 4 этажа по вашим потребностям</li>
                </ul>
            </div>
            <div class="section--modernization__category">
                <ul class="section--modernization__list">
                    <li class="section--modernization__item">Капитальный ремонт станков под ключ</li>
                    <li class="section--modernization__item">Экспертный сервис — технический/технологический аудит, обучение, сервисные программы</li>
                    <li class="section--modernization__item">Поставка запасных частей</li>
                </ul>
            </div>
        </div>
    </div>
 </section>
</BaseLayout>
